body {
    background-image: url(https://res.cloudinary.com/jerrick/image/upload/c_scale,f_jpg,q_auto/prq9m5uhhmjjtfnlay6b.jpg);
    object-fit: fill;
    margin: 25px;
    font-size: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, p {
    background-color: #ffffff;
    display: block;
    padding: 5px;
    width: fit-content;
}

p{
    font-size: 40px;
}

img {
    width: 1300px;
    height: auto;
}
