.container {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    padding: 64px 0;
    width: 1440px;
    margin: 0 auto;
}

.card h3{
    text-align: center;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    padding-top: 20px;
}

.card p{
    text-align: center;
    color: #3C3C43;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 15.6px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-top: 15px;
}
